.dark-gray-background{
    -fx-background-color: #46474A;
}
.gray-background{
     -fx-background-color: #636566;
 }

.white-background{
    -fx-background-color: #FFFFFF;
}

.radius{
    -fx-background-radius: 100px
}

.green-border {
    -fx-background-color: #00FF00;
}

