.text-area {
    -fx-border-radius: 20;
    -fx-background-color: #2e333d;
    -fx-border-color: "#2e333d";
}

.display-picture {
    -fx-border-radius: 50px;
    -fx-hgap: 20px;
    -fx-padding: 40px;
    -fx-background-color: #2969c0;
    -fx-background-radius: 50px;
    -fx-border-width: 5px;
    -fx-border-color: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.message-text {
    -fx-border-radius: 20;
    -fx-background-color: #202329;
    -fx-border-color: "#2e333d";
}

.scroll-pane {
    -fx-background: #202329;
    -fx-border-color: #202329;
}

.blue-background {
    -fx-background-color: #6b8afd;
}

