@font-face {
    src: url('../fonts/Inter-SemiBold.ttf');
}

* {
    -fx-background-color: rgb(30, 35, 38);
    -fx-font-family: 'Inter SemiBold';
    -fx-font-size: 14;
    -fx-font-smoothing-type: gray;
    -fx-text-fill: "D3C6AA";
}

#bottomBar {
    -fx-background-color: "#D3C6AA";
}

#userInput {
    -fx-control-inner-background: "#D3C6AA";
    -fx-background-radius: 8;
}

#sendButton {
    -fx-background-radius: 8;
}

#dialog {
    -fx-background-color: "#384B55";
    -fx-background-radius: 8;
}

.errorDialog {
    -fx-background-color: red;
}

.scroll-bar:vertical .thumb {
    -fx-background-color :"#D3C6AA";
    -fx-background-radius : 1.0em;
}

