#userInput {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: white;
}

#sendButton {
    -fx-background-color: #5e63a3;
    -fx-text-fill: white;
}

#scrollPane {
    -fx-background-color: #1c163b; 
}

#dialogContainer {
    -fx-background-color: #1c163b;
}