.root {
    -fx-background-color:transparent;
}

.anchor {
    -fx-background-color:transparent;
}

.label {
    -fx-font-size: 12;
    -fx-background-color: rgb(255, 243, 133,0.5);
    -fx-background-radius:1em;
}

.scroll-pane .viewport {
    -fx-background-color:transparent;
}

.scroll-pane {
    -fx-background-color:transparent;
}

#dialogContainer {
    -fx-background-color:transparent;
}

#sendButton {
    -fx-background-color:transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-padding:7;
}

.scroll-bar {
    -fx-font-size: 5px;
}

.text-field {
    -fx-background-color:rgba(255, 255, 255, 0.2);
}

.increment-button, .decrement-button {
    -fx-background-color: rgb(255, 0, 0,0.3);
    -fx-border-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(255, 0, 0,0.3);
    -fx-background-radius: 10em;
}