# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
src/main/resources/docs/

# JavaFX build files
lib\javafx-swt.jar
lib\javafx.base.jar
lib\javafx.controls.jar

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT
