# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT

# all .class files should be ignored according to the guideline
*.class

# Ignore the data files generated on local machine
tasks.txt

# Ignore jar files
*.jar

