.root {
    -fx-base: rgba(208,233,233,255);
    -fx-background: #8da99b;
    -fx-background-size: 100% 100%;
}

.button {
    -fx-background-color: #fab3ad;
}

.button:hover {
    -fx-background-color: #fd8477;
    -fx-text-fill: #ffffff;
}

.text-input {
    -fx-background-color: rgba(252,241,229,255);
}

.dialog-box {
    -fx-background-color: rgb(255, 221, 219);
    -fx-padding: 10;
    -fx-background-radius: 10;
}