.root{
    -fx-background-color: #FFFAE3;
}

.scroll-pane{
    -fx-background-color: #FFFAE3;
}

.scroll-pane .viewport {
    -fx-background-color: #FFFAE3;
}

.scroll-bar:vertical{
    -fx-background-color:transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #5D576B;
}