.scroll-Pane .viewport{
    -fx-background-image: url("https://static.wikia.nocookie.net/warner-bros-entertainment/images/d/df/117843736.jpg/revision/latest/scale-to-width-down/699?cb=20160227190718");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}